.avatarBackground {
  background-image: url("http://placehold.it/360x180/cfcfcf");
  background-repeat: repeat-x;
}

@media (max-width: @screen-xs-max) {
  .container{
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: @screen-xs-max) {
  .container{
    margin-left: auto;
    margin-right: auto;
  }
}
.container{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 0;

  max-width: 640px;
  min-width: 320px;
}
.row {
  position: relative;
  margin-top: 0;
  padding-top: 5px;
}
#userName {
  margin-top: 95px;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: gray;
}
#pregunta {
  font-size: 15px;
  text-align: justify;
  background-color: gray;
}
.resposta{
  margin: 2px;
  font-size: 14px;
  white-space: normal;
}

.fadeout{
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);

  position: absolute;
  z-index: -10;
  max-width: 640px;
  min-width: 320px;
}
.overlay{
  position: static;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
  min-width: 320px;
  z-index: 10;
}
.overlay > .btn{
  padding: 30%;
  margin-right: 10%;
  margin-left: 10%;
}
